.subs_period_hide {
	display:none;
}
.initial_amount_hide {
	display:none;
}
.form-table{
	width:100%
}
.form-field input[type="email"], .form-field input[type="number"], .form-field input[type="password"], .form-field input[type="search"], .form-field input[type="tel"], .form-field input[type="text"], .form-field input[type="url"], .form-field textarea .form-field select{
    border-style: solid;
    border-width: 1px;
    width: 95% !important;
}